<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required type="email" />
      <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        Пожалуйста, введите корректный email
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Пароль</mat-label>
      <input matInput formControlName="password" required type="password" />
      <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        Пароль должен быть длиной от 6 до 64 символов.
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
      Авторизоваться
    </button>
  </form>
</div>
