<aside class="col-md-3 col-xl-2 bg-gradient-primary text-white p-0">
    <nav class="navbar navbar-expand-md navbar-dark">
        <div class="d-flex flex-column w-100">
            <div class="d-flex justify-content-between justify-content-lg-center flex-wrap align-items-center py-3 px-4">
                <a class="fs-4 navbar-brand text-white" href="/">
                    <span class="fw-bold">Global</span>
                </a>
                <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#sidenavCollapse" aria-controls="sidenavCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse w-100" id="sidenavCollapse">
                <nav class="navbar-nav nav-pills flex-column p-3">
                    <div class="nav-item">
                        <a class="nav-link text-white" href="#" data-bs-toggle="collapse" data-bs-target="#users" role="button" aria-expanded="false" aria-controls="users">
                            <i class="fa-solid fa-users me-2"></i> Пользователи
                        </a>
                        <div class="collapse" id="users">
                            <nav class="nav nav-pills flex-column ms-3">
                                <a class="nav-link text-white" href="/users/all">Все</a>
                                <a class="nav-link text-white" href="/users/unconfirmed">На подтверждении</a>
                                <a class="nav-link text-white" href="/users/blocked">Заблокированные</a>
                            </nav>
                        </div>
                    </div>
                    <div class="nav-item mt-3">
                        <a class="nav-link text-white" href="#" data-bs-toggle="collapse" data-bs-target="#feed" role="button" aria-expanded="false" aria-controls="feed">
                            <i class="fa-solid fa-newspaper me-2"></i> Посты
                        </a>
                        <div class="collapse" id="feed">
                            <nav class="nav nav-pills flex-column ms-3">
                                <a class="nav-link text-white" href="/feed/all">Все</a>
                                <a class="nav-link disabled text-white" id="navUserFeedLink" href="#">Лента пользователя</a>
                            </nav>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </nav>
</aside>